<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tomato Leaf Disease Predictor</title>
    <link rel="stylesheet" href="static\css\style.css">
</head>

<body>
    <header>
        <h1>Welcome</h1>
    </header>
    <main>
        <h2>TOMATO LEAF DISEASE PREDICTOR</h2>
        <a href="templates\index.html"><button>START PREDICTING</button></a>
    </main>
    <footer>
        <p>&copy; 2024 Tomato Leaf Disease Predictor</p>
    </footer>
</body>

</html>