<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tomato Leaf Disease Predictor</title>
    <link rel="stylesheet" href="static\css\indexstyle.css">
</head>

<body>
    <div class="container">
        <h1>
            <marquee behavior="alternate">UPLOAD THE IMAGE OF THE TOMATO LEAF</marquee>
        </h1>
        <form id="upload-file" method="post" name="file" enctype="multipart/form-data">
            <label for="imageUpload" class="upload-label">Choose Image</label>
            <br>
            <input type="file" name="file" id="imageUpload" accept="image/*">
            <span class="file-name"></span>
            <div class="image-section" style="display:none;">
                <div class="img-preview">
                    <div id="imagePreview">
                        <img id="previewImg" src="#" alt="Image Preview" />
                    </div>
                </div>
            </div>
            <button type="button" id="btn-predict">PREDICT</button>
        </form>
        <div id="result" style="display: none;"></div>
        <div class="loader" style="display: none;"></div>
    </div>
    <footer>
        <p>&copy; 2024 Tomato Leaf Disease Predictor</p>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="static\script.js"></script>
</body>

</html>